<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Room Status</title>
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .main_container .main_card_body{
            height:calc(100vh - 100px);
            overflow-y: scroll;
        }
    </style>
</head>

<body>
    <div class="container main_container mt-4">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header text-center">
                <h4><i class="fa fa-home"></i> Available Rooms</h4>
            </div>
            <div class="card-body main_card_body">
                <div class="row room_container">

                </div>
            </div>
        </div>
        <script src="jquery/dist/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            let socket;
            $(document).ready(evt => {
                $.getJSON("/get/rooms", res => {
                    let room_content = '';
                    $.each(res, (key, val) => {
                        room_content += ` <div class='col-lg-3 mb-3 col-md-6 col-sm-6 col-xs-12'>
            <div class="card text-white bg-info room_card" data-room-id='${key}'>
                <div class="card-header">
                    <h4><i class="fa fa-home"></i> ${val.room_number}</h4>
                </div>
                <div class="card-body">
                    <p class='card-text'>
                        Room Status:<span class='room_status_span badge badge-pill badge-danger'>
                            ${val.room_status}</span>
                    </p>
                </div>
            </div>
        </div>`;
                    });
                    $(".room_container").html(room_content);
                    socket = io.connect('/');
                    socket.on('room_status_update', function (data) {
                        let {
                            room_id,
                            status
                        } = data;
                        let span = '';
                        let room = $(`.room_container .room_card[data-room-id=${room_id}]`);
                        switch (status) {
                            case '1':
                                //Dirty Status
                                span =
                                    `<p class='card-text'>
                                            Room Status:<span class='room_status_span badge badge-pill badge-danger'>Dirty</span></p>`
                                room.find('.card-body').html(span);
                                break;
                            case '2':
                                //Cleaning in progress Status
                                let spinner = `<div class="d-flex justify-content-center">
                                                <div class="spinner-border" role="status">
                                                </div>
                                            </div><p class="text-center text-dark">Cleaning in progress</p>`;
                                room.find('.card-body').html(spinner);
                                break;
                            case '3':
                                //Clean Status
                                span =
                                    `<p class='card-text'>
                                            Room Status:<span class='room_status_span badge badge-pill badge-success'>Clean</span></p>`
                                room.find('.card-body').html(span);
                                break;
                        }
                    });
                });
            });
        </script>
</body>

</html>